.left {
  float: left;
}
.right {
  float: right;
}
.clear:after {
  content: "";
  overflow: hidden;
  height: 0;
  display: block;
  visibility: hidden;
  clear: both;
}
/*******************************分隔线******************************/
a {
  font-size: 30px;
  color: #00f;
  padding: 0 10px;
}
.active {
  color: #f00;
}
